
<div class="grid">
	<h1 class="grid-title black">SS 16 COLLECTION</h1>
	<div class="grid-sizer"></div>
	<div class="grid-item grid-item--width2">
		<img src="https://images.unsplash.com/photo-1451933335233-c41672c8f378?ixlib=rb-0.3.5&amps;q=80&amps;fm=jpg&amps;crop=entropy&amps;s=be59408fbc40c8e76336db54f2c1527c" alt="">			
	</div>
	
	<div class="grid-item">
		<img src="https://images.unsplash.com/photo-1445076129285-0f73155f2d3c?ixlib=rb-0.3.5&amps;q=80&amps;fm=jpg&amps;crop=entropy&amps;s=ff764e94624d43d4024d6afd2a65f828" alt="">
		<div class="content">
			<a href="" class="desc">SHOP MEN<br>
			SHOP SS 16
			</a>			
		</div>
	</div>
	<div class="grid-item">
		<img src="https://images.unsplash.com/photo-1416339698674-4f118dd3388b?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;s=c6370b243c9babc128ed0482e88665fb" alt=""> 				
	</div>
	<div class="grid-item">
		<img src="https://images.unsplash.com/photo-1453486030486-0a5ffcd82cd9?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;s=de4decbffdcf8414d236ecb98c78f049" alt="">			
	</div>
	<div class="grid-item">
		<img src="https://images.unsplash.com/photo-1444068700300-d6ef2904d5e4?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;s=0c97d654adf6f71ace137f7bd768a2e5" alt="">			
	</div>
	
	
	
</div>