<!DOCTYPE html>
<html>
<head>
  <title>CLOTHING LINE 2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>
<body>
<div class="container">
<div class="navbar navbar-default">
	<div class="container-fluid">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              		<span class="sr-only">Toggle navigation</span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
            	</button>
            	<a href="#" class="navbar-brand">FM</a>
	</div>
	<div class="navbar-collapse collapse" id="navbar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="">SHOP MEN</a></li>
			<li><a href="">COLLECTION</a></li>
			<li><a href="">CONTACT</a></li>
		</ul>
	</div>

	</div>
</div>
<%= yield %>	

</div>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
</body>
</html>
